<!DOCTYPE HTML 5>
<% layout('/layouts/boilerplate')%>
<div class="container mt-3">
	<div class="row">
		<h1>Edit - <%= spot.title %></h1>
	</div>
	<form action="/skategrounds/<%=spot._id%>?_method=PUT" method="POST" id="form1" class="validated-form" novalidate>
			<div>
				<label class="form-label" for="title">Title</label>
				<input class="form-control mb-2"type="text" name="skateground[title]" id="title" value="<%= spot.title%>" required>
			</div>
			<div>
				<label class="form-label" for="image">Image</label>
				<input class="form-control mb-2"type="text" name="skateground[image]" id="image" value="<%=spot.image %>" required></br> 
			</div>		
			<div>
				<label class="form-label" for="description">Description</label>
				<input class="form-control mb-2" type="text" name="skateground[description]" id="description" value="<%=spot.description%>" required>
			</div>
				<button type="submit" class="btn btn-primary" form="form1">Update Spot</button>
	</form>
</div>
