<!DOCTYPE HTML 5>	

<% layout('/layouts/boilerplate')%>


<div class="row mt-3" id="spot display">
	<div class="col-6 offset-3" id="title">
		<div class="card">
			<img src="<%= spot.image %>" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title"><%=spot.title %></h5>
				<p class="card-text"><%=spot.description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-muted">Location N/A</li>
			</ul>
			<div class="card-body">
				<a href="/skategrounds/<%=spot._id%>/edit" class="card-link btn btn-info">Edit</a>
				<form class="d-inline" action="/skategrounds/<%=spot._id%>?_method=DELETE" method="POST" id="delForm">
						<button class="btn btn-danger" action="delForm">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>

<!-- add location, border -->

