<!DOCTYPE HTML 5>	

<% layout('/layouts/boilerplate')%>

<!-- skateground display -->
<!--  <link href="/stylesheets/skategrounds.css" rel="stylesheet">-->
<success>
<div class="row mt-3" id="spot display">
	<div class="col-6" id="title">
		<div class="card">
			<img src="<%= spot.image %>" class="card-img-top">
			<div class="card-body">
				<h5 class="card-title"><%=spot.title %></h5>
				<p class="card-text"><%=spot.description %></p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item text-muted">Location N/A</li>
				<p class="card-text">Created by: <%=spot.author.username%></p>
			</ul>
			<% if (currentUser && spot.author.equals(currentUser._id)){ %>
			<div class="card-body" id="shw_crd_bttns">
				<a href="/skategrounds/<%=spot._id%>/edit" class="card-link btn btn-info">Edit</a>
				<form class="d-inline" action="/skategrounds/<%=spot._id%>?_method=DELETE" method="POST" id="delForm">
						<button class="btn btn-danger" action="delForm">Delete</button>
				</form>
			</div>
			<% }%>
		</div>
	</div>
	<!-- review -->
	<div class="col-6">
		<h2 class="mt-3">Leave a review</h2>
		<form action="/skategrounds/<%=spot._id%>/reviews" method="POST" class="mb-3 validated-form" novalidate name="review">
			<div class="mb-3">
				<label class="form-label" for="rating">Rating</label>
				<input class="form-range" type="range" name="review[rating]" min="1" max="5" id="rating">
			</div>
			<div class="mb-3">
				<label class="form-label" for="body">Reviews</label>
				<textarea class="form-control" name="review[body]" rows="3" cols="10" id="body" required></textarea>
			</div>	
			<button class="btn btn-success">Submit</button>
		</form>
		<%for ( let review of spot.reviews) { %>		
		<div class="card mb-3">
			<div class="card-body ">
				<h5 class="card-title">Rating: <%=  review.rating %></h5>
				<p class="card-text">Review: <%=  review.body %></p>
				<form action="/skategrounds/<%= spot._id%>/reviews/<%= review._id%>?_method=DELETE" method="POST">
					<button class="btn btn-sm btn-danger" action="delForm">Delete</button>
				</form>
			</div>
		</div>
		<% } %>
	</div>
</div>
<!-- add location, border -->
